---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h1>👋 Hi, I'm Tamás. Welcome to my blog.</h1> 

<p>You can find out more about me on <a href="https://tomzorz.me">my website</a>, and you can also find me <a href="https://twitter.com/tomzorz_">on twitter</a>.</p>

<p>Anyone who knows what the blog description is a referencing gets a cookie.</p>

<h2>The last 10 posts</h2>

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
