---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

{{ content | safe }}

<p class="closeout"><em>shore party out</em></p>

<p>💌 share this post on <a href="http://twitter.com/share?text=From @tomzorz_'s blog: {{ title }}&url=https://shoreparty.org{{ page.url }}">twitter</a>, <a href="http://www.reddit.com/submit?url=https://shoreparty.org{{ page.url }}">reddit</a> or <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://shoreparty.org{{ page.url }}">linkedin</a></p>

<p><a href="{{ '/' | url }}">← Home</a></p>
